<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}" class="dark js csstransforms3d">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ partial "meta.html" . }}
  {{ partial "favicon.html" . }}
  {{ .Scratch.Add "title" "" }}
  {{ if eq .Site.Data.titles .Title }}
    {{ .Scratch.Set "title" (index .Site.Data.titles .Title).title }}
  {{ else }}{{ .Scratch.Set "title" .Title}}
  {{end}}
  <title>{{ .Scratch.Get "title" }}</title>

  <link href="/css/style.css" rel="stylesheet">

  <link href="/css/vendor/fontawesome-all.min.css" rel="stylesheet">
  <link href="/css/vendor/hljs-hybrid.css" rel="stylesheet">
  <link href="/css/vendor/featherlight.min.css" rel="stylesheet">
  <link href="/css/vendor/perfect-scrollbar.min.css" rel="stylesheet">
  <link href="/css/vendor/auto-complete.css" rel="stylesheet">
  <link href="/css/vendor/asciinema-player.css" rel="stylesheet">

  <script src="/js/jquery-2.x.min.js"></script>
  <script>
    // loads theme preference early to reduce visual re-draw for user
    const theme = localStorage.getItem('theme') || 'light';
    document.documentElement.setAttribute('data-theme', theme);
  </script>

  <style type="text/css">
      :root #header + #content > #left > #rlblock_left {
        display: none !important;
      }
  </style>
</head>

<body>

  <body class="" data-url="/">

    <section id="body" style="margin-left:0px;">
      <div id="overlay"></div>
      <div id="chapter">
        <div id="body-inner">
          <h1>Four-Oh-Four</h1>
          <p>
          </p>
          <p style='text-align: center;'>Woops. Looks like this page doesn't exist ¯\\_(ツ)_/¯</p>
          <p></p>
          <p style='text-align: center;'><a href='{{ "" | relLangURL }}'>Go to homepage</a></p>
          <p><img src='{{ "/images/gopher-404.jpg" | relURL }}' style="width:50%" alt="Page not found!"></img></p>
        </div>
      </div>

    </section>
  </body>

</html>
