.small {
    font-size: 0.9em;
}

.smallest {
    font-size: 0.8em;
}

.green {
    color: green;
}

.red {
    color: red;
}

/************** Body ***************/

#main {
    background: var(--main-bg-color);
    margin: 0 0 1.563rem 0;
}

#body {
    position: relative;
    margin-left: 300px;
    min-height: 100%;
}

@media only all and (max-width: 59.938em) {
    #body {
        margin-left: 230px;
    }
}

@media only all and (max-width: 47.938em) {
    #body {
        margin-left: 0;
        width: 100%;
    }
}

#body img,
#body .video-container {
    margin: 3rem auto;
    display: block;
    text-align: center;
}

#body img.border,
#body .video-container.border {
    border: 2px solid var(--image-border-color) !important;
    padding: 2px;
}

#body img.shadow,
#body .video-container.shadow {
    box-shadow: 0 10px 30px var(--image-shadow-color);
}

#body img.inline {
    display: inline !important;
    margin: 0 !important;
    vertical-align: bottom;
}

#body .bordered {
    border: 1px solid var(--body-bordered-color);
}

#body .padding {
    padding: 3rem 6rem;
}

@media only all and (max-width: 59.938em) {
    #body .padding {
        position: static;
        padding: 15px 3rem;
    }
}

@media only all and (max-width: 47.938em) {
    #body .padding {
        padding: 5px 1rem;
    }
}

#body h1+hr {
    margin-top: -1.7rem;
    margin-bottom: 3rem;
}

#body-inner {
    margin-bottom: 5rem;
}

#body-inner pre {
    white-space: pre-wrap;
}

/************** Body Nav ***************/

@media only all and (max-width: 59.938em) {
    #body #navigation {
        position: static;
        margin-right: 0 !important;
        width: 100%;
        display: table;
    }
}

#body .nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 4rem;
    font-size: 50px;
    height: 100%;
    cursor: pointer;
    display: table;
    text-align: center;
}

#body .nav>i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

@media only all and (max-width: 59.938em) {
    #body .nav {
        display: table-cell;
        position: static;
        top: auto;
        width: 50%;
        text-align: center;
        height: 100px;
        line-height: 100px;
        padding-top: 0;
    }

    #body .nav>i {
        display: inline-block;
    }
}

#body .nav:hover {
    background: var(--body-nav-hover-color);
}

#body .nav.nav-pref {
    left: 0;
}

#body .nav.nav-next {
    right: 0;
}

/************** Container ***************/

.container {
    width: 75em;
    margin: 0 auto;
    padding: 0;
}

@media only all and (min-width: 60em) and (max-width: 74.938em) {
    .container {
        width: 60em;
    }
}

@media only all and (min-width: 48em) and (max-width: 59.938em) {
    .container {
        width: 48em;
    }
}

@media only all and (min-width: 30.063em) and (max-width: 47.938em) {
    .container {
        width: 30em;
    }
}

@media only all and (max-width: 30em) {
    .container {
        width: 100%;
    }
}

/************** Header ***************/

#header-wrapper {
    background: var(--header-wrapper-bg-color);
    color: var(--header-wrapper-font-color);
    text-align: center;
    border-bottom: 4px solid var(--header-wrapper-border-color);
    padding: 1rem;
}

#header a {
    display: inline-block;
}

#header #logo-svg {
    width: 8rem;
    height: 2rem;
}

#header #logo-svg path {
    fill: var(--header-logo-fill-color);
}

#top-bar {
    background: var(--top-bar-bg-color);
    border-radius: 2px;
    padding: 0 1rem;
    height: 0;
    min-height: 3rem;
}

/************** Sidebar ***************/

#sidebar {
    background-color: var(--sidebar-bg-color);
    position: fixed;
    top: 0;
    width: 300px;
    bottom: 0;
    left: 0;
    font-weight: 400;
    font-size: 15px;
}

@media only all and (max-width: 59.938em) {
    #sidebar {
        width: 230px;
    }
}

@media only all and (max-width: 47.938em) {
    #sidebar {
        width: 230px;
        left: -230px;
    }
}

#sidebar a {
    color: var(--sidebar-link-color);
}

#sidebar a:hover {
    color: var(--sidebar-link-hover-color);
}

#sidebar a.subtitle {
    color: var(--sidebar-subtitle-color);
}

#sidebar hr {
    border-bottom: 1px solid var(--sidebar-bar-color);
}

#sidebar a.padding {
    padding: 0 1rem;
}

#sidebar h5 {
    margin: 2rem 0 0;
    position: relative;
    line-height: 2;
}

#sidebar h5 a {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar h5 i {
    color: var(--sidebar-heading-color);
    position: absolute;
    right: 0.6rem;
    top: 0.7rem;
    font-size: 80%;
}

#sidebar h5.parent a {
    background: var(--sidebar-heading-bg-color);
    color: var(--sidebar-heading-font-color) !important;
}

#sidebar h5.active a {
    background: var(--sidebar-heading-active-bg-color);
    color: var(--sidebar-heading-active-font-color) !important;
}

#sidebar h5.active i {
    color: var(--sidebar-heading-active-font-color) !important;
}

#sidebar h5+ul.topics {
    display: none;
    margin-top: 0;
}

#sidebar h5.parent+ul.topics,
#sidebar h5.active+ul.topics {
    display: block;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul.searched a {
    color: var(--searched-color);
}

#sidebar ul.searched .search-match a {
    color: var(--searched-match-color);
}

#sidebar ul.searched .search-match a:hover {
    color: var(--searched-hover-color);
}

#sidebar ul.topics {
    margin: 0 1rem;
}

#sidebar ul.topics.searched ul {
    display: block;
}

#sidebar ul.topics ul {
    display: none;
}

#sidebar ul.topics ul ul {
    padding-bottom: 0;
}

#sidebar ul.topics li.parent ul,
#sidebar ul.topics>li.active ul {
    display: block;
}

#sidebar ul.topics>li>a {
    line-height: 2rem;
    font-size: 1.1rem;
}

#sidebar ul.topics>li>a b {
    opacity: 0.5;
    font-weight: normal;
}

#sidebar ul.topics>li>a .fa {
    margin-top: 9px;
}

#sidebar ul.topics>li.parent,
#sidebar ul.topics>li.active {
    background: var(--sidebar-list-bg-color);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar ul li.active>a {
    background: var(--sidebar-list-active-bg-color);
    color: var(--sidebar-list-active-font-color) !important;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar ul li {
    padding: 0;
}

#sidebar ul li.visited+span {
    margin-right: 16px;
}

#sidebar ul li a {
    display: block;
    padding: 2px 0;
}

#sidebar ul li a span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

#sidebar ul li>a {
    padding: 4px 0;
}

#sidebar ul li.visited>a .read-icon {
    color: var(--sidebar-read-icon-color);
    display: inline;
}

#sidebar ul li li {
    padding-left: 1rem;
    text-indent: 0.2rem;
}


#sidebar ul.topics>li>a .read-icon {
    margin-top: 9px;
}

#sidebar #shortcuts li {
    padding: 2px 0;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

#sidebar ul li .read-icon {
    display: none;
    float: right;
    font-size: 13px;
    min-width: 16px;
    margin: 4px 0 0 0;
    text-align: right;
}



#sidebar #shortcuts h3 {
    font-family: "Heading-Font", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: var(--sidebar-shortcuts-font-color);
    margin-top: 1rem;
    padding-left: 1rem;
}

@media only all and (max-width: 47.938em) {
    .sidebar-hidden {
        overflow: hidden;
    }

    .sidebar-hidden #sidebar {
        left: 0;
    }

    .sidebar-hidden #body {
        margin-left: 230px;
        overflow: hidden;
    }

    .sidebar-hidden #overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: var(--sidebar-hidden-bg-color);
        cursor: pointer;
    }
}

/************** Chapter (index for folder) ***************/

body #chapter h1 {
    font-size: 2.5rem;
}

#chapter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem 0;
}

#chapter #body-inner {
    padding-bottom: 3rem;
    max-width: 80%;
}

#chapter h3 {
    font-family: "Heading-Font", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
}

#chapter p {
    text-align: left;
}

/************** Footer ***************/

#prefooter hr {
    margin: 5px;
    padding: 0;
}

#footer {
    padding-top: 15px;
    padding-left: 18px;
    color: var(--footer-color);
    font-size: 13px;
}

#footer p {
    margin: 0;
}

.footline {
    font-size: 0.9em;
}