
/* .bg {
    background: #fff;
    border: 1px solid #eaeaea;
} */

/* label, th {
    font-weight: bold; 
} */

/* .default-animation, #header #logo-svg, #header #logo-svg path, #sidebar, #sidebar ul, #body, #body .padding, #body .nav {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
} */

/* #grav-logo {
    max-width: 60%;
}
#grav-logo path {
    fill: #fff !important;
} */

/* fieldset {
    border: 1px solid #ddd;
} */

/* Homepage custom panels */
/* 


.panel-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .panel-container {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-bottom: 1.5rem !important;
  }

  @media only all and (max-width: 47.938em) {
    .panel-container {
      -ms-flex: 0 0 90%;
      flex: 0 0 90%;
      max-width: 90%;
    }
  }

  .panel-link {
    padding-top: 3rem !important;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f4f4f4 !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    display: block !important;
    text-align: center !important;
  }

  .panel-icon {
    font-size: 40px;
    display: block !important;
    margin-bottom: 1.5rem !important;
    color: #343a40 !important;
  }

  .panel-title {
    margin-bottom: 1rem !important;
    color: #343a40;
  }

  .panel-description {
    line-height: 1.5em;
    margin-bottom: 30px !important;
    color: #343a40;
  } */